.app {
    margin-top: 200px;
}
.app__container {
    padding: 0 10px;
}
.counter {
    /*padding: 0 10px;*/
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 850px;
    color: #ffae00;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 10px;
}

.counter__block {
    -webkit-box-shadow: 19px 19px 16px 2px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 19px 19px 16px 2px rgba(34, 60, 80, 0.6);
    box-shadow: 19px 19px 16px 2px rgba(34, 60, 80, 0.6);
    background: linear-gradient(to bottom, #002E63 0%, #001F54 100%);
    border-radius: 5px;
    border: 5px solid #00152a;
    padding: 35px;
    flex: 0 1 400px;
    display: flex;
    justify-content: center;
}
.counter__display {
    /*border-radius: 12%;*/
    /*flex: 0 1 100%;*/
    /*border: 15px solid #5b4670;*/
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*align-items: center;*/
    row-gap: 30px;
    /*padding: 5px;*/
    /*position: relative;*/
}
.counter__title {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    text-align: center;
    font-size: 25px;
}
.counter__lines {
    /*flex: 0 1 200px;*/
    /*padding-top: 30px;*/
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.counter__line {
    display: flex;
    flex-direction: column;
    /*width: 100%;*/
    /*justify-content: space-between;*/
    row-gap: 10px;
}
label {
    cursor: pointer;
    font-size: 20px;
}
.input {
    -webkit-box-shadow: 19px 19px 16px 2px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 19px 19px 16px 2px rgba(34, 60, 80, 0.6);
    box-shadow: 19px 19px 16px 2px rgba(34, 60, 80, 0.6);
    flex: 0 1 100%;
    border-radius: 1px;
    cursor: pointer;
    outline:3px solid #ffae00;
    text-align: center;
    font-size: 25px;
    padding: 5px;
    /*font-weight: 600;*/
    color: #ffae00;
    /*padding-right: 10px;*/
    background: linear-gradient(to bottom, #002E63 0%, #0649b2 100%);
    font-family: 'Belanosima', sans-serif;
}
.input:focus {
    outline:3px solid #ffae00;
}
.input__error {
    /*outline:3px solid red;*/
    /*background-color: #c58489;*/
}
.counter__value {
    text-align: center;
    /*flex: 0 1 200px;*/
    /*line-height: 0.8;*/
    /*text-align: center;*/
    font-size: 30px;
    /*color: #3d2e4a;*/

}
/*.counter__error {*/
/*    color: #8f1616;*/
/*}*/
.counter__buttons {
    display: flex;
    column-gap: 30px;
    align-self: center;

}
.counter__button {
    -webkit-box-shadow: 10px 12px 12px 1px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 10px 12px 12px 1px rgba(34, 60, 80, 0.6);
    box-shadow: 10px 12px 12px 1px rgba(34, 60, 80, 0.6);
    align-self: center;
    font-family: 'Belanosima', sans-serif;
    font-size: 20px;
    /*outline:2px solid #5b4670;*/
    border-radius: 5px;
    padding: 10px 25px;
    cursor: pointer;
    background-color: #ffae00;
    color: #001F54;
    /*font-weight: 600;*/
    transition: all 0.3s ease 0s;
    border: 3px solid #00152a;
    text-shadow: 0.5px 1px 0.5px rgba(0,0,0,0.5);
}
.counter__button:hover {
    background-color: #f1c900;
}
.counter__button:active {
    background-color: #8d6201;
}
/*.counter__button:disabled {*/
/*    background-color: #1a0505;*/
/*    color: #404044;*/
/*}*/