@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600&family=Montserrat:wght@400;600&family=Roboto:ital,wght@0,400;1,300&display=swap');
body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
  /*  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
  /*  sans-serif;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
  background: linear-gradient(90deg, #faf0cd, #fab397);
  /*background: linear-gradient(70deg,#6992cc, #dcc155);*/
  font-family: 'Belanosima', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
